<div class="calendar-entry col-lg-6">
<br/s>
<h1> {{entry.name}}</h1>
<p> {{entry.type}}</p>
<h6> created: {{entry.date | date:"M d, y" }} || updated: {{entry.updated | date:"M d, y" }} </h6>

<p>{{entry.description | truncatechars:150 }}</p>
<button onclick="window.location='{% url 'details' pk=entry.id %}'" class="btn btn-primary"> View Details </button>
<button data-id="{{ entry.id }}" onclick="deleteCalendarEntry(this)" class='btn btn-danger'> Delete </button>
<button onclick="window.location='{% url 'update' pk=entry.id %}'" class='btn btn-danger'> Edit </button>
</div>

