.calendar-entry {
	background-color: #eee;
}
.form{
	width:100%;
}
.search{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.searchbtn {
    
}

.complete{
	text-decoration: line-through;
}

.incomplete{
    display:inline;
}

.tasklist{
    width: 20%;
}
.deletetask{
    float:right;
}